.imagem-principal {
    width: 500px;
    padding-left: 175px;
    padding-bottom: 75px;
    border-radius: 45px;
}


/* @media only screen and (max-device-width: 500px) {
    .imagem-principal {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-device-width: 768px) {
    .imagem-principal {
        width: 400px;
        margin-right: 60px;
    }
}

@media only screen and (min-device-width: 1440px) {
    .imagem-principal {
        width: 500px;
        margin-right: 60px;
    }
} */