.botao-principal {
    background-color: #FFA500;
    border: #FFA500 solid 1px;
    border-radius: 45px;
    position: relative;
    width: 320px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.ancora-principal {
    text-decoration: none;
    color: black;
    font-family: var(--fonte);
    font-size: 23px;
}

@media only screen and (max-device-width: 500px) {
    .botao-principal {
        width: 240px;
    }
}