.cabecalho {
    width: 100%;
    height: 225px;
    filter: brightness(80%);
    background-image: url(../../../pagina--principal/img--principal/fundos/fundo-cabecalho.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo-cabecalho {
    width: 100%;
    position: absolute;
    height: 225px;
}

@media only screen and (max-device-width: 500px) {
    .cabecalho {
        width: 100%;
        margin-left: -170px;
    }
    .fundo-cabecalho {
        position: absolute;
        box-sizing: border-box;
        object-fit: cover;
    }
}