.principal {
    background-image: url(../../img--beneficios/fundos/principal.png);
    position: absolute;
    margin-top: 427px;
    border: black solid 1px;
}

.span {
    display: flex;
}

.titulo-principal,
.titulo-principal-2 {
    font-family: var(--fonte);
    font-size: 33px;
    margin-left: 30px;
    padding-top: 35px;
    position: relative;
}

.titulo-principal-2 {
    padding-top: 5px;
}

.texto-principal-1,
.texto-principal-2,
.texto-principal-3 {
    font-family: var(--fonte);
    font-size: 27px;
    padding-left: 30px;
    position: relative;
    width: 80%;
    padding-bottom: 25px;
}

.texto-principal-2 {
    width: 80%;
}

.texto-principal-3 {
    width: 100%;
}

.cor-verde {
    color: green;
}

.cor-verde:hover {
    font-style: italic;
    text-decoration: underline;
    transition: 1s;
}

.video-edutech {
    text-align: center;
}

.descricao-video {
    text-align: center;
    color: black;
    font-style: italic;
    font-family: var(--fonte);
}

.descricao-video:hover {
    font-size: 18px;
    text-decoration: underline;
    transition: 0.2s;
}