.navegacao {
    background-image: url(../../img--principal/fundos/fundo-cabecalho.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* object-fit: cover; */
}

.lista-navegacao {
    display: flex;
    text-decoration: none;
    text-decoration: none;
    margin-left: 50%;
    justify-content: center;
    margin-right: 43%;
    position: relative;
    margin-top: -60px;
}

.link-navegacao {
    text-decoration: none;
}

.item-navegacao {
    color: wheat;
    list-style: none;
    font-family: var(--fonte);
    font-size: 30px;
    padding-right: 150px;
    text-decoration: none;
    background: 0;
    border: none;
}

.item-navegacao:hover {
    font-size: 33px;
    transition: 0.2s;
    text-decoration: underline;
    opacity: 70%;
}

.dropbtn {
    list-style: none;
    font-size: 30px;
    font-family: var(--fonte);
    padding-right: 150px;
    color: wheat;
    background: 0;
    text-decoration: none;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 30px;
    font-family: var(--fonte);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: wheat;
    border: black solid 1px;
    border-radius: 10px;
}

.dropdown-content a:hover {
    font-size: 33px;
    text-decoration: underline;
    font-style: italic;
    transition: 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-device-width: 424px) {
    .navegacao {
        width: 490px;
        overflow-x: hidden;
        height: 150px;
        overflow: hidden;
    }
    .lista-navegacao {
        display: block;
        margin-top: 19px;
    }
    .item-navegacao {
        margin-right: 0px;
        padding-right: 0px;
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (min-device-width: 0px) {
    .navegacao {
        width: 490px;
    }
}

@media only screen and (min-device-width: 425px) {
    .navegacao {
        width: 533px;
        overflow-x: hidden;
        height: 150px;
        overflow: hidden;
    }
    .lista-navegacao {
        display: block;
        margin-top: 19px;
    }
    .item-navegacao {
        margin-right: 0px;
        padding-right: 0px;
        margin: 0px;
        padding: 0px;
    }
}

@media only screen and (min-device-width: 768px) {
    .navegacao {
        width: 768px;
        overflow-x: hidden;
        height: 150px;
        overflow: hidden;
    }
    .lista-navegacao {
        display: flex;
        margin-top: 65px;
        padding-bottom: 150px;
        text-align: start;
    }
    .item-navegacao {
        margin-right: 0px;
        padding-right: 45px;
    }
}

@media only screen and (min-device-width: 1440px) {
    .navegacao {
        width: 1440px;
    }
    .lista-navegacao {
        justify-content: center;
        position: relative;
        margin-left: 600px;
    }
    .link-navegacao {
        text-decoration: none;
    }
    .item-navegacao {
        color: wheat;
        list-style: none;
        font-family: var(--fonte);
        font-size: 30px;
        padding-right: 150px;
        text-decoration: none;
        background: 0;
        border: none;
    }
    .item-navegacao:hover {
        font-size: 33px;
        transition: 0.2s;
        text-decoration: underline;
        opacity: 70%;
    }
    .dropbtn {
        list-style: none;
        font-size: 30px;
        font-family: var(--fonte);
        padding-right: 150px;
        color: wheat;
        background: 0;
        text-decoration: none;
        border: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-size: 30px;
        font-family: var(--fonte);
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: wheat;
        border: black solid 1px;
        border-radius: 10px;
    }
    .dropdown-content a:hover {
        font-size: 33px;
        text-decoration: underline;
        font-style: italic;
        transition: 0.5s;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
}