.rodape-principal {
    margin-top: 2672px;
    display: block;
}

.imagem-rodape {
    position: absolute;
    width: 100%;
    height: 225px;
    filter: brightness(80%);
}

.titulo-rodape {
    position: relative;
    text-align: center;
    padding-top: 15px;
    font-family: var(--fonte);
    font-size: 33px;
}

.titulo-rodape:hover {
    font-size: 37px;
    font-style: italic;
    text-decoration: underline;
}

.texto-rodape {
    position: relative;
    text-align: center;
    font-family: var(--fonte);
    font-size: 25px;
}

.texto-rodape:hover {
    font-size: 27px;
    font-style: italic;
    text-decoration: underline;
}

@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}